.container {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    padding: 1.5rem 1rem;
    background-color: rgba(128, 128, 128, 0.055);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.103);
    font-size: 1.2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

}