.container {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    padding: 1.5rem 1rem;
    z-index: 50;
    background-color:var(--second-color);

    padding-inline: 5rem;
    font-size: 1.2rem;
    color: #eee;
    border-bottom: 1px solid #eeeeee17;
    box-shadow: 1px 1px 1px rgb(107, 15, 106);

}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

}


.content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;

}