.container {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    padding: 1.5rem 1rem;
    z-index: 50;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    align-items: center;
    font-size: 1.2rem;
    color: #eee;
    border-bottom: 1px solid #eeeeee17;
    box-shadow: 1px 1px 1px #eeeeee21;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;

}