.container {
  background: #232323;
  background: -webkit-linear-gradient(-45deg, #000000, #414141);
  background: -o-linear-gradient(-45deg, #000000, #414141);
  background: -moz-linear-gradient(-45deg, #000000, #414141);
  background: linear-gradient(-45deg, #000000, #414141);
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.container h2 {
  color: #eee !important;
  font-size: 2.5rem;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

}

.content .box {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #eee;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.cards a {
  display: block;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #313131; 
  border: 1px solid rgba(128, 128, 128, 0.144);
  transition: all .7s;
  box-shadow: 1px 1px 1px #00000000;
}


.cards a:hover {
  border: 1px solid rgba(128, 128, 128, 0.295);
}

.cards a svg {
  transition: all .7s;
}

.cards a:hover svg {
  fill: var(--primary-color);
}

.content .container-svg {
  width: 40%;
}



