:root {

  --primary-color: #ffb200;
  --second-color: #891788;
  --three-color: #6b0f6a;

}

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}



body {
  scroll-behavior: smooth;
  padding-top: 75px;
  background-color: var(--second-color);
}

button{
  border-color: transparent;
  
}

a{
  text-decoration: none;
  color: inherit;
}


