:root {

  --primary-color: #034a60;
  --second-color: #013241;
  --three-color: #162D59;

}

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  scroll-behavior: smooth;
}




body {
  padding-top: 74px;
  background-color: var(--second-color);
}

button{
  border-color: transparent;
  
}

a{
  text-decoration: none;
  color: inherit;
}


