

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container h3{
    opacity: 0;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--primary-color);
    text-align: center;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.1s;

    
}

.container h2{
    opacity: 0;
    text-align: center;
    font-size: 3.5rem; 
    font-weight: bold;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.3s;
}

.container p {
    opacity: 0;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.5s;
}


.container h3.active,
.container h2.active,
.container p.active {
    transform: initial;
    opacity: initial;
}