.container {
    height: calc(100vh - 68px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


.container h3{
    opacity: 0;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--primary-color);
    text-align: center;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.1s;

    
}

.container h2{
    color: #eee;
    opacity: 0;
    text-align: center;
    font-size: 3.5rem; 
    font-weight: bold;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.3s;
}

.container p {
    opacity: 0;
    color: #eee;
    transform: translate3d(0px,-50px,0);
    transition: all 0.7s ease 0.5s;
}


.container h3.active,
.container h2.active,
.container p.active {
    transform: initial;
    opacity: initial;
}


.cover {
    display: block;
    position: absolute;
    z-index: -1;
    background-color: rgba(128, 128, 128, 0.315);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}