.container {
  padding-block: 5rem;
  background: rgb(255,175,0);
  background: linear-gradient(90deg, rgba(255,175,0,1) 0%, rgba(255,146,1,1) 35%, rgba(255,127,0,1) 100%);
  color: #eee;
  font-size: 2rem;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content p {
  font-size: 1.2rem;
}

.content a {
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
  background-color: var(--second-color);
  width: fit-content;
  margin: 0 auto;
  border-radius: 7px;
}